@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.sidebar {
  &__chat-item {
    @include flex-between;
    padding: $spacing-md $spacing-md;
    border-radius: $border-radius-md;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-tertiary;

      .sidebar__chat-item-actions {
        opacity: 1;
      }
    }
    &--active {
      background-color: $color-tertiary;
    }
  }

  &__chat-item-title {
    font-size: $font-size-sm;
    color: $color-text-secondary;
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__chat-item-actions {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__chat-item-input {
    flex: 1;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-border-hover;
    color: $color-text-primary;
    font-size: $font-size-sm;
    padding: 2px 0;
    font-family: inherit;

    &:focus {
      outline: none;
      border-bottom-color: $color-gradient-start;
    }
  }

  //   &__chat-item-menu {
  //     background: transparent;
  //     border: none;
  //     color: $color-text-muted;
  //     cursor: pointer;
  //     padding: $spacing-xs;
  //     border-radius: $border-radius-sm;
  //     opacity: 0;
  //     transition: all 0.2s ease;

  //     &:hover {
  //       background-color: $color-accent;
  //       color: $color-text-primary;
  //     }
  //   }
}
