@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.btn {
  @include button-base;
}

.chat-input {
  &__action-btn {
    padding: $spacing-sm;
    background: transparent;
    border: none;
    color: $color-text-muted;
    cursor: pointer;
    border-radius: $border-radius-sm;
    transition: color 0.2s ease;

    &:hover {
      color: $color-text-primary;
    }

    &--send {
      background-color: $color-button-primary;
      color: $color-button-primary-text;

      &:hover {
        background-color: $color-text-secondary;
      }
    }
  }
}

.sidebar {
  &__new-chat-btn {
    width: 100%;
    background-color: $color-tertiary;
    color: $color-text-primary;

    &:hover {
      background-color: $color-accent;
    }
  }
  &__setting-btn {
    width: 100%;
    background-color: transparent;
    color: $color-text-primary;
    margin-bottom: $spacing-md;

    &:hover {
      background-color: $color-tertiary;
    }
  }
}
