@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.message {
  &__avatar {
    flex-shrink: 0;
  }

  &__avatar-user {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(
      135deg,
      $color-gradient-start,
      $color-gradient-middle
    );
    border-radius: 50%;
    @include flex-center;
    font-weight: $font-weight-semibold;
    font-size: $font-size-sm;
    color: $color-text-primary;
  }

  &__avatar-ai {
    width: 2rem;
    height: 2rem;
    background-color: $color-button-primary;
    border-radius: 50%;
    @include flex-center;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    color: $color-button-primary-text;
  }
}
